<div class="container">
  <div class="page-header">
    <h1>Order Details

    </h1>
  </div>
  <!-- <h2>Order Details</h2> -->
  <div class="panel panel-default" *ngFor="let customers of customer1Array">
    <!-- Default panel contents -->
    <br>
    <div class="panel-heading">
      <h3>{{ customers.firstName }} {{ customers.lastName }}</h3>
    </div>
    <table class="table table-striped table-hover table-condensed">

      <thead class="thead-dark">
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="customers.orders.length; else elseTemplate">
          <tr *ngFor="let order of customers.orders">

            <td>{{order.product}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.price | currency: "INR"}}</td>
            <td>{{order.orderTotal | currency: "INR"}}</td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td>Total</td>
            <td></td>
          </tr>
        </ng-container>

        <ng-template #elseTemplate>
          <tr><td colspan="4" style="text-align: center">No orders found</td></tr>
        </ng-template>

      </tbody>
    </table>
  </div>
</div>
